.auth-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-width {
  width: 30%;
}

.image-width {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  .image-width {
    width: 50%;
  }

  .form-width {
    width: 50%;
  }
}
