<div class="container mt-5">
	<app-tabs>
		<app-tab [tabTitle]="'Grupo Modificador'">
			<app-table 
				(add)="onAddGroupModifier()"
				(onAction)="executeAction($event)" 
				[dataColumns]="modifierGroupsColumns" 
				[dataRows]="modifierGroupsRows">
			</app-table>
		</app-tab>
	</app-tabs>
	<ng-template let-modifierGroup="data" #modifierGroupEdit>
		<app-edit-modifier-group [modifierGroup]="modifierGroup" (saveModifierGroup)="onModifierGroupFormSubmit($event)"></app-edit-modifier-group>
	</ng-template>
</div>

