.hero-image {
  background: url("/../../../assets/images/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.hero-image__color {
  background-color: rgba(60, 60, 60, 0.5);
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image__text {
  font-size: 2rem;
  color: #fff;
}



