<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{productData?.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img class="img-fluid" [src]="productData?.img" alt="product">
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="pt-2">{{ 15000 | currency }}</h4>
                <div class="container-fluid py-2 px-0">
                    <h5>Sabor</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Vainilla
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Chocolate
                        </label>
                      </div>
                </div>
                <div class="container-fluid py-2 px-0">
                    <h5>Adicionales</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Chispitas de chocolate
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                          Salsa de piña
                        </label>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-end">
                    <div class="d-flex quantity-select mx-auto mx-md-0">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-light d-flex align-items-center">
                                <span class="material-icons">remove</span>
                            </button>
                            <button class="btn btn-light">1</button>
                            <button class="btn btn-light d-flex align-items-center">
                                <span class="material-icons">add</span>
                            </button>
                            <button type="button" class="btn btn-primary" (click)="activeModal.close('Save click')">Añadir al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>