<div class="container-fluid mt-5">
	<div class="row">
		<div *ngFor="let product of shoppingCart">
			<div class="card">
				<div class="row no-gutters">
					<div class="card-header">
						<img src="{{ product?.image }}" class="img-fluid d-block"/>
					</div>
			
					<div class="card-body">
							<h5 style="color:#004B56;">F11407 CINTA DE EMPAQUE TRANSAPARENTE 48MMX50M TP-1060 WESTON</h5>
							<small class="text-muted">3 days ago</small>
							<p>CINTA DE EMPAQUE TRANSPARENTE 48mm X 150M ($ x pza, caja c/36)</p>
							<small class="text-muted">$499.10 x 1 unidad</small>
							<button class="btn btn-info"><i class="oi oi-cart"></i> Volver a Comprar</button>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-12 col-sm-12">
				<div class="row m-2 border-bottom border-top d-flex align-items-center">
					<div class="col-2 p-0 thumbnail">
						<img src="{{ product?.image }}" class="img-fluid d-block">
					</div>
					<div class="col-9">
						<div class="row">
							<div class="col-lg-3 col-md-12 col-xs-12">
								<h5 class="d-none d-lg-block">Producto</h5>
								<p class="text-muted my-2">{{ product?.product }}</p>
							</div>
							<div class="col-lg-3 col-md-12 col-xs-12">
								<h5 class="d-none d-lg-block">Precio Unitario</h5>
								<p class="text-muted my-2">{{ product?.price | currency }}</p>
							</div>
							<div class="col-lg-3 col-md-12 col-xs-12">
								<h5 class="d-none d-lg-block">Cantidad</h5>
								<p class="text-muted my-2">{{ product?.quantity }}</p>
							</div>
							<div class="col-lg-3 col-md-12 col-xs-12">
								<h5 class="d-none d-lg-block">Total</h5>
								<p class="text-muted my-2">{{ product!.price * product!.quantity | currency }}</p>
							</div>
						</div>
					</div>
					<button style="line-height: 0;" class="btn btn-danger p-0" (click)="removeItem( (_auth.isAuthenticated()) ? product.id : product.product_id )">
						<span class="material-icons">close</span>
					</button>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-12 content-buy" *ngIf="shoppingCart.length > 0; else template">
			<div class="card mb-4 shadow-sm">
				<div class="card-header text-center">
					<h3 class="m-0">Total</h3>
				</div>
				<div class="card-body text-center">
				  <h4 class="card-title">{{ total | currency}}</h4>
				  <button type="button" class="btn btn-lg btn-block btn-primary" (click)="payShoppingCart()">Proceder al pago</button>
				</div>
			  </div>
		</div>
	</div>
	<ng-template #template>
		<div class="alert alert-warning m-auto">
			Sin productos en el carrito
		</div>
	</ng-template>
	
</div>