.content-cart{
    display: flex;
    align-items: center;
}

.content-buy{
	position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}

@media (max-width: 1000px) {
    .content-buy{
        position: relative;
    }
}