<div class="container mt-5">
	<div>
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-2">
						<img src="../../../assets/images/background.jpg" class="rounded img-fluid float-left" alt="...">
					</div>
					<div class="col-8">
						<h2><span class="badge badge-secondary">Nombre</span></h2>
					</div>
					<div class="col-2">
						<div class="input-group">
							<div class="input-group-prepend">
								<button class="btn btn-danger">-</button>
							</div>
							<input type="number" class="form-control" readonly>
							<div class="input-group-prepend">
								<button class="btn btn-primary">+</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>