<nav class="navbar navbar-expand-lg bg-dark d-flex align-items-center justify-content-between">

	<button style="line-height: 0;" (click)="changeClass()" class="btn text-white p-0 {{ classSide }}" id="menu-toggle">
		<span class="material-icons">reorder</span>
	</button>

	<div class="{{ classArrow }}">
		<a class="btn btn-sm text-white d-block d-sm-none" (click)="changeNewClass()">
			<span class="material-icons">arrow_back</span>
		</a>
	</div>

	<div class="{{ classSearch }}">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search">
			<div class="input-group-append">
				<button class="btn btn-secondary" style="line-height: 0;">
					<span class="material-icons">search</span>
				</button>
			</div>
		</div>
	</div>

	<ul class="m-0 list-inline align-items-center text-center text-light {{ classUl }}">
		<li title="Search" class="nav-item mr-2">
			<a class="btnSearch btn btn-sm text-reset text-decoration-none d-block d-sm-none" (click)="changeNewClass()">
				<span class="material-icons">search</span>
			</a>
		</li>
		<li title="Home" class="nav-item mr-2">
			<a routerLink="/" class="text-reset text-decoration-none">
				<span class="material-icons">home</span>
			</a>
		</li>
		<li title="Shopping Cart" class="nav-item mr-2">
			<a routerLink="/shopping-cart" class="text-reset text-decoration-none">
				<span class="material-icons">shopping_cart</span>
			</a>
		</li>
		<li title="User" class="nav-item dropdown" ngbDropdown>
			<a class="text-reset text-decoration-none" tabindex="0" ngbDropdownToggle id="navbarDropdown" role="button">
				<span class="material-icons">account_circle</span>
			</a>
			<div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="navbarDropdown">
			  <a ngbDropdownItem routerLink="/login" class="dropdown-item">Iniciar sesión</a>
			  <a ngbDropdownItem routerLink="/register" class="dropdown-item">Registrarse</a>
			</div>
		</li>
	</ul>
</nav>