.dropdown-toggle::after {
    display:none;
}

:focus {outline:0 !important;}

.btnSearch{
    cursor:pointer;
}

.contentArrow{
    width: 9% !important;
}

.inputSearch{
    width: 80% !important;
}