<div class="hero-image">
	<div class="hero-image__color d-flex justify-content-center align-items-center">
		<div class="form-container rounded">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <h3 class="text-center text-info">Ingresar</h3>
                <div class="form-group">
                    <label for="name" class="text-info">Nombre</label>
                    <input type="text" class="form-control" name="name" placeholder="Ingresa tu nombre" ngModel required>
                </div>
        
                <div class="form-group">
                    <label for="lastname" class="text-info">Apellido</label>
                    <input type="text" class="form-control" name="lastname" placeholder="Ingresa tu apellido" ngModel required>
                </div>
        
                <div class="form-group">
                  <label for="email" class="text-info">Correo</label>
                  <input type="email" class="form-control" name="email" placeholder="Ingresa tu correo" ngModel required>
                </div>
        
                <div class="form-group">
                    <label for="username" class="text-info">Nombre de usuario</label>
                    <input type="text" class="form-control" name="username" placeholder="Ingresa tu nombre de usuario" ngModel required>
                </div>
        
                <div class="form-group">
                    <label for="password" class="text-info">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="username" placeholder="Ingresa tu contraseña" ngModel required>
                </div>
        
                <div class="form-group">
                    <label for="password" class="text-info">Comfirmar contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="username" placeholder="Comfirma tu contraseña" ngModel required>
                </div>
        
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
		</div>
	</div>
</div>