<form class="mt-3" [formGroup]="form" (ngSubmit)="onFormSubmit()">
	<div class="container mt-5">
		<div class="border rounded p-5">
			<div class="row mb-2">
				<div class="col">
					<label for="nombre" class="text-info">Nombre</label>
					<input type="text" class="form-control" id="nombre" name="nombre" autocomplete="off" value="{{ user.name }}" disabled>
				</div>
				<div class="col">
					<label for="apellido" class="text-info">Apellido</label>
					<input type="text" class="form-control" id="apellido" name="apellido" autocomplete="off" value="{{ user.lastname }}" disabled>
				</div>
				<div class="col-12">
					<label for="telefono" class="text-info">Teléfono</label>
					<input type="text" class="form-control" id="telefono" name="telefono" formControlName="phone_number" autocomplete="off">
					<p class="text-danger" *ngIf="(form.get('phone_number')?.touched || submitted) && form.get('phone_number')?.errors?.required">El campo es obligatorio</p>
				</div>
				<div class="col-12">
					<label for="direccion" class="text-info">Dirección</label>
					<input type="text" class="form-control" id="direccion" name="direccion" formControlName="address" autocomplete="off">
					<p class="text-danger" *ngIf="(form.get('address')?.touched || submitted) && form.get('address')?.errors?.required">El campo es obligatorio</p>
				</div>
			</div>
			<div class="col-12 d-flex justify-content-center p-0">
				<div class="col-6 pl-0">
					<button class="btn btn-danger btn-block" [routerLink]="'/shopping-cart'">Cancelar</button>
				</div>
				<div class="col-6 pr-0">
					<button class="btn btn-success btn-block">Pagar</button>
				</div>
			</div>
		</div>
	</div>   
</form>