<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{orderData?.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6">
                <img class="img-fluid" [src]="orderData?.img" alt="product">
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="pt-2">{{ 15000 | currency }}</h4>
                <div class="container-fluid py-2 px-0">
                    <h5>Bebida</h5>
                    <p>Jugo de mora</p>
                </div>
                <div class="container-fluid py-2 px-0">
                    <h5>Adicionales</h5>
                    <p>Morcilla</p>
                    <p>Arepa</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-warning">Finalizar Pedido</button>
                </div>
            </div>
        </div>
    </div>
</div>