.sidebar {
  min-height: 100vh;
  background-color: #F8F9FA;
  border-right: 2px solid #E9ECEF;
  width: 17rem;
  margin-left: 0;
  position: fixed;
  z-index: 1;
  transition: margin .25s ease-out;
}

.sidebar.toggled{
  margin-left: -17rem;
}

.sidebar-heading {
  padding: 2rem 1rem;
  font-size: 1.2rem;
}

.sidebar-item{
  display: flex;
  background-color: #F8F9FA;
  cursor: pointer;
  width: 100%;
  border-bottom: 2px solid #E9ECEF;
}

.sidebar-item:hover, .sub-menu-item:hover{
  background-color: #E9ECEF;
}

.sidebar-item:hover .down-arrow-icon{
  transform: rotate(-180deg);
}

.sidebar-link{
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #4c4c4c;
  width: 100%;
  padding: 1rem;
  font-size: .9rem;
}

.sidebar-icon{
  padding-right: .5rem;
  font-size: 1.5rem;
}

.down-arrow-icon{
  position: absolute;
  right:25px;
  transform: transform(-50%);
}

.sub-menu{
  list-style: none;
  font-size: .9rem;
  background-color: #F8F9FA;
  display:none;
  padding:0;
}

.sub-menu.active{
  display: block;
}

.sub-menu-item{
  padding: 1rem;
}

.sub-menu-link{
  text-decoration: none;
  color:#4c4c4c;
  padding-left: 25px;
}

