<div class="wrapper {{ class }}">
  <div class="sidebar-wrapper">
    <div class="sidebar-heading">El Colombiano Hambriento</div>
    <div class="sidebar-group">

      <div class="sidebar-item">     
        <a routerLink="/users" class="sidebar-link">
          <span class="sidebar-icon material-icons">person</span>
          Usuarios
        </a>
      </div>

      <div ngbDropdown placement="right" class="sidebar-item">
        <a class="sidebar-link" id="dropdownBasic2" ngbDropdownToggle>
        <span class="sidebar-icon material-icons">restaurant_menu</span>       
        Productos
      </a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
        <a  ngbDropdownItem routerLink="/products">Gestionar</a>
        <a  ngbDropdownItem href="#">Categorias</a>
        <a  ngbDropdownItem href="#">Grupo Modificador</a>
        <a  ngbDropdownItem href="#">Modificador</a>
      </div>
      </div>

    </div>
  </div>
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
