<div class="sidebar" [ngClass]="sideMenuClass">
  <div class="sidebar-heading">El Colombiano Hambriento</div>
  <div class="sidebar-group">

    <div class="sidebar-item">     
      <a routerLink="/users" class="sidebar-link">
        <span class="sidebar-icon material-icons">person</span>
        Usuarios
      </a>
    </div>

    <div class="sidebar-item">
      <a class="sidebar-link" (click)="displaySubMenu()">
        <span class="sidebar-icon material-icons">restaurant_menu</span>       
        Productos
        <span class="down-arrow-icon material-icons">
          keyboard_arrow_down
        </span>
      </a>
    </div>

    <ul class="sub-menu" [ngClass]="{'active': subMenuStatus}">
      <li class="sub-menu-item"> 
        <a  class="sub-menu-link" routerLink="/products">Gestionar</a> 
      </li>
      <li class="sub-menu-item"> 
        <a class="sub-menu-link" routerLink="/categories">Categorias</a> 
      </li>
      <li class="sub-menu-item"> 
        <a class="sub-menu-link" href="#">Grupo Modificador</a>
      </li>
      <li class="sub-menu-item">
        <a class="sub-menu-link" href="#">Modificador</a>
      </li>
    </ul>

    <div class="sidebar-item">     
      <a routerLink="/branches" class="sidebar-link">
        <span class="sidebar-icon material-icons">business</span>
        Sucursales
      </a>
    </div>
    <div class="sidebar-item">     
      <a routerLink="/cities" class="sidebar-link">
        <span class="sidebar-icon material-icons">place</span>
        Ciudades
      </a>
    </div>

  </div>
</div>
