<div class="wrapper d-flex">
  <div class="sidebar-wrapper bg-light border-right">
    <div class="sidebar-heading">BOOOOM</div>
    <div class="list-group list-group-flush">
      <a routerLink="/users" class="list-group-item list-group-item-action bg-light">Usuarios</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Opción 2</a>
    </div>
  </div>
  <div class="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
