<app-modal-select-city *ngIf="!selectedCity" (saveCity)="getAllProductsByCity($event)"></app-modal-select-city>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="d-flex justify-content-center"> 
                <app-search-products (eventEmmiter)="getSearchProducts($event)"></app-search-products>
            </div>
            <div class="d-flex align-items-center justify-content-center flex-wrap"> 
                <app-card *ngFor="let product of products | slice: (page-1) * pageSize : page * pageSize" [productData]="product"></app-card>
                <div class="alert alert-warning mt-5" *ngIf="!products.length">
                    No se encontraron productos.
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <ngb-pagination 
                    [collectionSize]="products.length" 
                    [(page)]="page"
                    [pageSize]="pageSize"
                    (pageChange)="onPageChange($event)" 
                    [directionLinks]="false">
                </ngb-pagination>
            </div>
        </div>
        <div class="col-sm-3 my-5">
            <ul class="list-group">
                <h4>Categorías</h4>
                <li class="list-group-item">
                    <button class="btn btn-light" (click)="getAllProductsByCity(this.selectedCity)">
                        Todos
                    </button>
                </li>
                <li *ngFor="let category of categories" class="list-group-item">
                    <button class="btn btn-light"(click)="showProductsByCategory(category)">
                        {{category.name}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
