<app-modal [modalTitle]="'Selecciona una ciudad'">
    <app-select-city></app-select-city>
</app-modal>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div class="d-flex align-items-center justify-content-center flex-wrap"> 
                <app-card></app-card>
            </div>
        </div>
        <div class="col-sm-3 my-5">
            <ul class="list-group">
                <h2>Categorías</h2>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>
</div>
