<div class="container mt-5">
	<app-tabs>
		<ng-container *ngIf="isSuperAdmin">
			<app-tab [tabTitle]="'Sucursales'">
				<app-table 
					(add)="onAddBranch()"
					(onAction)="executeAction($event)" 
					[dataColumns]="branchesColumns" 
					[dataRows]="branchesRows">
				</app-table>
			</app-tab>

			<ng-template let-branch="data" #branchEdit>
				<app-edit-branch [branch]="branch" (saveBranch)="onBranchFormSubmit($event)"></app-edit-branch>
			</ng-template>
		</ng-container>
		
		<app-tab [tabTitle]="'Productos por Sucursal'">
			<div *ngIf="isSuperAdmin" class="my-3">
				<app-select-branch (saveBranch)="getProductsByBranch($event)" [branchesRows]="branchesRows"></app-select-branch>
			</div>
			<app-table
				(onAction)="changeProductState($event)"  
				[dataColumns]="productsColumns"
				[dataRows]="productsRows"
				[isBtnAddRequired]="false">
			</app-table>
		</app-tab>
	</app-tabs>
</div>